statemachine/sample.json
{
  "Comment": "Step Functions state machine generator for AWS Lambda Power Tuning",
  "StartAt": "Initializer",
  "States": {
    "Initializer": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:{REGION}:{ACCOUNT_ID}:function:aws-lambda-power-tuning-dev-initializer",
      "Next": "Branching"
    },
    "Branching": {
      "Type": "Parallel",
      "Next": "After Branching",
      "Branches": [
        {
          "StartAt": "128MB",
          "States": {
            "128MB": {
              "Type": "Pass",
              "Result": "128",
              "ResultPath": "$.num",
              "Next": "128MB Executor"
            },
            "128MB Executor": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:{REGION}:{ACCOUNT_ID}:function:aws-lambda-power-tuning-dev-executor",
              "End": true
            }
          }
        },
        {
          "StartAt": "256MB",
          "States": {
            "256MB": {
              "Type": "Pass",
              "Result": "256",
              "ResultPath": "$.num",
              "Next": "256MB Executor"
            },
            "256MB Executor": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:{REGION}:{ACCOUNT_ID}:function:aws-lambda-power-tuning-dev-executor",
              "End": true
            }
          }
        },
        {
          "StartAt": "512MB",
          "States": {
            "512MB": {
              "Type": "Pass",
              "Result": "512",
              "ResultPath": "$.num",
              "Next": "512MB Executor"
            },
            "512MB Executor": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:{REGION}:{ACCOUNT_ID}:function:aws-lambda-power-tuning-dev-executor",
              "End": true
            }
          }
        },
        {
          "StartAt": "1024MB",
          "States": {
            "1024MB": {
              "Type": "Pass",
              "Result": "1024",
              "ResultPath": "$.num",
              "Next": "1024MB Executor"
            },
            "1024MB Executor": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:{REGION}:{ACCOUNT_ID}:function:aws-lambda-power-tuning-dev-executor",
              "End": true
            }
          }
        }
      ]
    },
    "After Branching": {
      "Type": "Parallel",
      "End": true,
      "Branches": [
        {
          "StartAt": "Finalizer",
          "States": {
            "Finalizer": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:{REGION}:{ACCOUNT_ID}:function:aws-lambda-power-tuning-dev-finalizer",
              "End": true
            }
          }
        },
        {
          "StartAt": "Cleaner",
          "States": {
            "Cleaner": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:{REGION}:{ACCOUNT_ID}:function:aws-lambda-power-tuning-dev-cleaner",
              "End": true
            }
          }
        }
      ]
    }
  }
}
