statemachine/statemachine.asl.json
{
  "Comment": "AWS Lambda Power Tuning state machine",
  "StartAt": "Initializer",
  "States": {
    "Initializer": {
      "Type": "Task",
      "Resource": "${initializerArn}",
      "Next": "versionPublisher",
      "ResultPath": "$.powerValues",
      "TimeoutSeconds": ${totalExecutionTimeout},
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "CleanUpOnError",
          "ResultPath": "$.error"
        }
      ]
    },
    "versionPublisher": {
      "Type": "Task",
      "Resource": "${versionPublisherArn}",
      "Next": "IsCountReached",
      "ResultPath": "$.powerValues",
      "TimeoutSeconds": ${totalExecutionTimeout},
      "Catch": [{
        "ErrorEquals": [ "States.ALL" ],
        "Next": "CleanUpOnError",
        "ResultPath": "$.error"
      }]
    },
    "IsCountReached": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.powerValues.iterator.continue",
          "BooleanEquals": true,
          "Next": "versionPublisher"
        }
      ],
      "Default": "Branching"
    },
    "Branching": {
      "Type": "Map",
      "Next": "Cleaner",
      "ItemsPath": "$.powerValues.powerValues",
      "ResultPath": "$.stats",
      "ItemSelector": {
        "input.$": "$",
        "value.$": "$$.Map.Item.Value"
      },
      "MaxConcurrency": 0,
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "CleanUpOnError",
          "ResultPath": "$.error"
        }
      ],
      "Iterator": {
        "StartAt": "Executor",
        "States": {
          "Executor": {
            "Type": "Task",
            "Resource": "${executorArn}",
            "End": true,
            "TimeoutSeconds": ${totalExecutionTimeout},
            "Retry": [{
                "ErrorEquals": [
                  "States.ALL"
                ],
                "IntervalSeconds": 3,
                "MaxAttempts": 2
            }]
          }
        }
      }
    },
    "Cleaner": {
      "Type": "Task",
      "Next": "Analyzer",
      "ResultPath": null,
      "TimeoutSeconds": ${totalExecutionTimeout},
      "Resource": "${cleanerArn}"
    },
    "Analyzer": {
      "Type": "Task",
      "Resource": "${analyzerArn}",
      "ResultPath": "$.analysis",
      "TimeoutSeconds": 10,
      "Next": "Optimizer"
    },
    "Optimizer": {
      "Type": "Task",
      "Resource": "${optimizerArn}",
      "ResultPath": null,
      "OutputPath": "$.analysis",
      "TimeoutSeconds": ${totalExecutionTimeout},
      "End": true
    },
    "CleanUpOnError": {
      "Type": "Task",
      "ResultPath": null,
      "OutputPath": null,
      "Resource": "${cleanerArn}",
      "TimeoutSeconds": ${totalExecutionTimeout},
      "End": true
    }
  }
}
